$darkGray: #3F3F3F;
$darkOrange: #935F0D;
$orange: #DC8F13;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: sans-serif;

    .container {
        height: 500px;
        width: 500px;
        background-color: $darkGray;
        

        .opening-menu {
            height: 500px;
            width: 400px;
            background-color: $orange;

            .nav-top {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(9, 1fr);
                border-collapse: collapse;
                gap: 1rem;
                
                .menu {
                    // grid-column: 2/5;
                    grid-area: 1/2/2/5;
                    color: white;
                    font-weight: 200;
                    text-align: center;
                }
                
                .changing-logo {
                    font-weight: 900;
                    text-align: center;
                    grid-area: 1/5/2/6;
                }

                .homepage {
                    grid-area: 4/2/5/5;
                }

                .products {
                    grid-area: 5/2/6/5;
                }
                
                .about {
                    grid-area: 6/2/7/5;
                }

                .contact {
                    grid-area: 7/2/8/5;
                }
            }

        }
    }
}
