$darkGray: #3F3F3F;
$darkOrange: #935F0D;
$orange: #DC8F13;

@mixin onHover {
    &:hover {
        text-shadow: 1px 1px #3F3F3F;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    
    .container {
        height: 500px;
        width: 500px;
        background-color: $darkGray;
        overflow-x: hidden;
        

        .opening-menu {
            height: 500px;
            width: 400px;
            transform: translate(-320px);
            
            
            .nav-top {
                background-color: $orange;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(9, 1fr);
                border-collapse: collapse;
                gap: 1rem;
                transition: 1s;

                
                .changing-logo-on-hover {
                    display: none;
                    transition: 1s;
                    font-size: larger;
                    font-weight: 900;
                    text-align: center;
                    cursor: pointer;
                    @include onHover();
                }
                
                &:hover {
                    transform: translate(320px);

                    .changing-logo-on-hover {
                        display: block;
                    }
                    
                    .changing-logo {
                        display: none;
                    }
                }
                .top {
                    display: flex;
                    justify-content: space-between;
                    grid-area: 1/1/3/6;
                    padding: 2rem;
                    background-color: $darkOrange;
                }

                .menu {
                    color: white;
                    font-weight: 200;
                    text-align: center;
                    margin: auto;
                    cursor: pointer;
                    @include onHover();
                }
                
                .changing-logo {
                    font-size: larger;
                    font-weight: 900;
                    text-align: center;
                    position: relative;
                    right: 0px;
                    cursor: pointer;
                    @include onHover();
                }

                .homepage {
                    grid-area: 4/2/5/5;
                    cursor: pointer;
                    @include onHover();
                }
                
                .products {
                    grid-area: 5/2/6/5;
                    cursor: pointer;
                    @include onHover();
                }
                
                .about {
                    grid-area: 6/2/7/5;
                    cursor: pointer;
                    @include onHover();
                }
                
                .contact {
                    grid-area: 7/2/8/5;
                    cursor: pointer;
                    @include onHover();
                }
            }

        }
    }
}
